/* #home-card {
} */

.home-row {
  font-family: "Megrim", cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(24, 58, 55);
  color: rgb(196, 73, 0);
  margin-top: 1rem;
  border: solid 1px rgb(87, 136, 133);
  border-radius: 5px;
}

.adventure-card.card {
  font-family: "Voces", cursive;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 87, 84);
  border: 2px solid rgb(87, 136, 133);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* 40,73,70 */
