.btn-xl {
  margin-right: 1rem;
}

.login-card {
  margin-top: 10rem;
  margin-bottom: auto;
}

/* #root {
  background-color: rgb(4, 21, 31);
} */

.card-body {
  background-color: rgb(24, 58, 55);
  border: tomato;
}

.form-group {
  background-color: rgb(24, 58, 55);
}

.form-label {
  background-color: rgb(24, 58, 55);
  color: rgb(196, 73, 0);
}

#formBasicEmail {
  background: white;
}

#formBasicPassword {
  background: white;
}

.btn-primary.btn-xl {
  background-color: rgb(196, 73, 0);
  color: white;
  border: white;
  font-family: "Voces", cursive;
}

.btn-secondary.btn-xl {
  font-family: "Voces", cursive;
}

label.form-label {
  font-family: "Voces", cursive;
  border: rgb(4, 21, 31), solid;
}
